.body {
  top:11.6%;
  width: 100%;
  height: 1442.7616rpx;
  background-color: rgb(255,255,255);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}
.recommend {
  width: 96%;
  height: 5%;
  display: flex;
}
.menu-box {
  width: 100%;
  height: 1442.7616rpx;
  display: flex;
  flex-direction: row;
}
.menu-content{
  width: 100%;
  height: 1442.7616rpx;
  display: flex;
  flex-direction: row;
}



